<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(login_id) {%>
    <p>Welcome to <%= login_id %></p>
    <a href = '/logout'>Logout</a>
    <% } else { %>
    <p>
      please login...
    </p>
    <a href = '/login'>Login</a>
    
    <% } %>
  </body>
</html>
